.oakley {
  background-color: #f2f2f2;
  padding-top: 160px;
  padding-right: auto;
  padding-bottom: 80px;
  padding-left: auto;
  margin-top: -40px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
